.Button {
	
	-fx-background-color: 
       rgba(0,0,0,0.08),
        linear-gradient(#5a61af, #51536d),
        linear-gradient(#e4fbff 0%,#cee6fb 10%, #a5d3fb 50%, #88c6fb 51%, #d5faff 100%);
    
	
	-fx-border:1px;
	-fx-display:inline-block;
	-fx-cursor:pointer;
	-fx-color:#ffffff;
	-fx-font-family:Arial;
	-fx-font-size:20px;
	-fx-font-weight:bold;
	-fx-padding:5px 5px;
	-fx-text-decoration:none;
	-fx-background-radius: 100;
	
}
.Button:hover {
	 -fx-background-color: 
        rgba(0,0,0,0.08),
		 linear-gradient(#5a61af, #51536d),
        linear-gradient(#b4fbff 0%,#bee6fb 10%, #b5d3fb 50%, #38c6fb 51%, #b5faff 100%);
    
}


.Button:pressed{
	-fx-background-color: 
        rgba(0,0,0,0.08),
        linear-gradient(#9a9a9a, #909090),
		linear-gradient(white 50%, #f3f3f3 50%, #ececec 51%, #f2f2f2 100%);
		
	-fx-position:relative;
	-fx-top:10px;
}
/* 
.multi-bg-example {
  -fx-width: 100%;
  -fx-height: 400px;
  -fx-background-image: url(https://images.unsplash.com/reserve/bOvf94dPRxWu0u3QsPjF_tree.jpg?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1055&q=80);
  -fx-background-repeat: no-repeat,
      no-repeat,
      no-repeat;
  -fx-background-position: bottom right,
      left,
	  right;
	  -fx-background-size:1280px;
}*/

.textA{
	-fx-font-size:20px;
	-fx-font-weight:bold;
	-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);

}


 